name: Update known_fixes.json

on:
  pull_request:
    types:
      - closed

permissions:
  contents: write

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Run update script
        run: |
          node processor.mjs

      - name: Commit JSON
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update known_fixes json with latest changes"
          file_pattern: "known_fixes.json"
